section div {
    background-color: cyan;
    border: 3px solid black;
    margin: 50px auto;
    width: 200px;
    height: 50px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in; */
    /* float: centre; */
    float: inherit;
   
}



h1{
    text-align: center;
}

div:hover{
    background-color: yellow;
    /* font-family: Arial, Helvetica, sans-serif;
   text-shadow: 0 1px 0 #ccc,
   0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
}; */
}




.first{
    float: left;
}

.second{
    float: right;
}

.first:hover{
    filter: grayscale();
}

.second:hover{
    filter: grayscale();
}